<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/61abcfe439.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" style="color: white;">Bookers</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to books_path do %>
                <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="">
                <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-user"></i> Users
                <% end %>
              </li>
              <li class="">
                <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-book"></i> Books
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> logout
                <% end %>
              </li>
              <% else %>
              <li class="">
                </i><%= link_to new_user_registration_path do %>
                <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path do %>
                <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-edit"></i> sign up
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i> login　　　
                <% end %>
              </li>
            <% end %>
          </ul>
      </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
          </div>
          <div class="col-lg-4">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
