<div class="container">
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
  	<div clss="row">
	<h1>Editing Book</h1>
	</div>
	<%= form_for(@book) do |f| %>
	<% if @book.errors.any? %>
		<p><%= @book.errors.count %> errors prohibited this book from being saved:</p>
		<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<div class="row">
	<h4>Title</h4>
	</div>
	<div class="row">
	<%= f.text_field :title, class: "col-xs-12" %>
	</div>
	<div class="row">
	<h4>Opinion</h4>
	</div>
	<div class="row">
	<%= f.text_area :body, class: "col-xs-12" %>
	</div>
	<div class="row">
	<br><%= f.submit 'Update Book', class: "btn btn-primary col-xs-12" %></br>
	</div>
	<% end %>

	<div class="row">
		<%= link_to "Show", book_path(@book) %> |
		<%= link_to "Back", books_path %>
	</div>
	</div>
  </div>
</div>